@font-face {
	font-family:ostrich;
	src: url(https://cdn.rawgit.com/1nefootstep/yamitl/8a861828/ostrich-regular.ttf);
	font-weight: normal;
}
@font-face {
	font-family: bigbrother;
	src: url(https://cdn.rawgit.com/1nefootstep/yamitl/8a861828/bigbrother_v6_ubuntu.ttf);
	font-weight: normal;
}
